<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="employee">
      <span class="float-right">Employee#: {{ employee.id }}</span>
      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="profile-img img-responsive center-block rounded" />

      <div>
        <h2 data-cy="employeeDetailsHeading">
          <span>{{ employee.firstName }} {{ employee.lastName }}</span>
        </h2>
      </div>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="employeeManagerfinalApp.employee.email">Email</span></dt>
        <dd>
          <span>{{ employee.email }}</span>
        </dd>
        <dt><span jhiTranslate="employeeManagerfinalApp.employee.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ employee.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="employeeManagerfinalApp.employee.manager">Manager</span></dt>
        <dd>
          <div *ngIf="employee.manager">
            <a [routerLink]="['/employee', employee.manager?.id, 'view']">{{ employee.manager?.firstName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="employeeManagerfinalApp.employee.department">Department</span></dt>
        <dd>
          <div *ngIf="employee.department">
            <a [routerLink]="['/department', employee.department?.id, 'view']">{{ employee.department?.departmentName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="employeeManagerfinalApp.employee.job">Job</span></dt>
        <dd>
          <div *ngIf="employee.job">
            <a [routerLink]="['/job', employee.job?.id, 'view']">{{ employee.job?.jobTitle }}</a>
          </div>
        </dd>
        <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="employeeManagerfinalApp.employee.joblevel">Joblevel</span></dt>
        <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <div *ngIf="employee.joblevel">
            <a [routerLink]="['/salary', employee.joblevel?.id, 'view']">{{ employee.joblevel?.joblevel }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
